@import url("../styles/theming.css");

body, html {
  background-color: var(--menu-background-color);
  color: var(--menu-color);
  font: var(--menu-font);
  font-size: var(--menu-font-size);
}

#icIdentitySortList {
    margin-left: 3em;
}

.list-group-item {
    /* cursor: move; */
    display: flex;
    margin: 0.7em auto;
}

.list-group-item > input {
    margin-right: 1em;
}

.identity-label {
    cursor: move !important;
    width: 50%;
    border-radius: 0.5em;
    font: var(--menu-font);
    font-size: var(--menu-font-size);
    border: none;
    padding: 0.6rem 1.1rem;
    margin: 0 ;
    text-decoration: none;
    background: var(--button-background);
    color: var(--button-color);
    font-size: 1rem;
    cursor: pointer;
    text-align: left;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -moz-appearance: none;
}

.identity-label:hover,
.identity-label:focus {
  border-radius: 0.5em;
  background-color: var(--button-focus-background);
  color: var(--button-focus-color);
}

.border-color{
    background: var(--bullet-color, --button-color);
    border-radius: 50%;
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-left: 0px;
    margin-right: 1rem;
}
